<% if signed_in? %>
	<% provide(:title, 'Chess Playground') %>
	<div class="row" id="playground">
  	<%= render 'static_pages/chess' %>
  	<%= render 'static_pages/chat' %>
    <script type="text/javascript">
      window.board = new ChessBoard('board', {
        draggable: false,
        ropOffBoard: 'trash',
        position: 'start',
        pieceTheme: '../images/chesspieces/wikipedia/{piece}.png',
      });
      $(window).resize(board.resize);
      window.user_id = <%= @user.id %>;
      window.user_name = "<%= @user.name %>";
    </script>
  	</div>

<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Chess Playground</h1>

    <h2>This is the home page of the app</h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-info" %>
  </div>
<% end %>
