<h1>Listing games</h1>
<div class="panel panel-default">
  <table class="table" id="game_list">
    <thead>
      <tr>
        <th>Pgn</th>
        <th>Date</th>
        <th>User</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.pgn %></td>
          <td><%= game.created_at %></td>
          <td><%= game.users.name %></td>
          <td><%= game.status %></td>
          <td><%= link_to 'Show', game %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Game', new_game_path %>
</div>